{% if site.software %}
<div class="software-banner{% if include.placement %} software-banner--{{ include.placement }}{% endif %}">
  <h4 class="software-banner-title">try my software</h4>
  {% for product in site.software %}
  <div class="software-item">
    <a href="{{ product.url }}" target="_blank" rel="noopener">{{ product.name }}</a>
    {% if product.description %}
    <span class="software-description">- {{ product.description }}</span>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}
